/* ********** */
/* global properties */
/* ********** */

/* Extra small screens */
:root {

    /* scroll */
    scroll-behavior: smooth;

}

/*
    Body definitions
    - Does not change below
    - Open typography.css file to change the values
*/
body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--color-on-bg);
}

/* global resets */

* {
    transition: all 0.3s;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: currentColor;
    transition: color 0.3s;
}

a:hover {
    color: var(--color-secondary);
}

/* Route transitions */
.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-active {
    opacity: 0;
}


/* ********** */
/* Components */
/* ********** */

/* ********** */
/* Atoms components */
/* ********** */

/* a-title component */
.a-title {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title);
}

.a-title--level-1 {
    font-size: var(--title-level-1);
}

/* a-header__title component */
.a-header__title {
    text-align: center;
}

/* a-input component */
.a-input {
    font-size: var(--font-size, 1rem);
    color: var(--color-on-surface-medium);
    border: 1px solid var(--color-on-surface-medium);
    border-radius: 0.3125rem;
    padding: 1rem;
    background-color: transparent;
    transition: all 0.3s;
}

.a-input::placeholder {
    color: var(--color-on-surface-medium);
}

.a-input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.a-input:focus {
    border: 1px solid var(--color-secondary);
}

.a-input--error {
    border: 1px solid var(--color-error);
}

@keyframes autofill {
    to {
        color: var(--color-on-surface-medium);
        background: transparent;
    }
}

/* a-search__input component */
.a-search__input {
    border-radius: 0.3125rem 0 0 0.3125rem;
    border-right: none;
    height: 3.5rem;
}

.a-search__input:focus {
    border-right: none;
}

/* a-button component */
.a-button {
    padding-top: var(--space-grid, 0.5rem);
    padding-bottom: var(--space-grid, 0.5rem);
    padding-left: calc(var(--space-grid, 0.5rem) * 2);
    padding-right: calc(var(--space-grid, 0.5rem) * 2);
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    text-transform: uppercase;
    font-size: var(--button, 0.875rem);
    font-weight: 500;
    text-align: center;
    border: 0;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: all 0.3s;
}

.a-button:hover {
    background-color: var(--color-secondary);
}

.a-button--disabled {
    background-color: var(--color-on-surface-low);
    color: var(--color-on-surface-low);
    border: 0;
}

.a-button--disabled:hover {
    background-color: var(--color-on-surface-low);
    color: var(--color-on-surface-low);
    border: 0;
}

.a-button--large {
    padding-top: calc(var(--space-grid, 0.5rem) * 1.5);
    padding-bottom: calc(var(--space-grid, 0.5rem) * 1.5);
    padding-left: calc(var(--space-grid, 0.5rem) * 3);
    padding-right: calc(var(--space-grid, 0.5rem) * 3);
    font-size: calc(var(--button, 0.875rem) * 1.2);
}

.a-button--chip {
    font-size: 0.8125rem;
    padding: 4px var(--space-grid);
    border: 1px solid var(--color-on-surface-low);
    border-radius: 1rem;
    background-color: transparent;
    color: var(--color-on-surface-medium);
}

.a-button--chip:hover {
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
}

/* a-button--text */
.a-button--text {
    background-color: transparent;
    color: var(--color-primary);
}

.a-button--text:hover {
    background-color: rgba(241, 90, 36, 0.15);
    color: var(--color-secondary);
}

/* a-button--outlined */
.a-button--outlined {
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
}

.a-button--outlined:hover {
    border: 1px solid var(--color-secondary);
    background-color: transparent;
    color: var(--color-secondary);
}

/* a-search__button component */
.a-search__button {
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 0 0.3125rem 0.3125rem 0;
}

.a-search__button:hover {
    border-color: var(--color-secondary);
}


.a-button-change-view {
    display: none;
}
@media screen and (min-width: 600px) {
    .a-button-change-view {
        display: inline-block;
    }
}

/* a-text component */
.a-text {
    font-size: var(--text);
    line-height: 1.4;
    color: var(--color-on-surface-medium);
    word-break: break-word;
}

.a-text--large {
    font-size: var(--text-large);
}

.a-text--caption {
    font-size: var(--caption);
}

/* a-footer__text component */
.a-footer__text {
    font-size: var(--caption);
    color: var(--color-on-primary-medium);
}
