/* ********** */
/* global properties */
/* ********** */

/* Extra small screens */
:root {

    /* scroll */
    scroll-behavior: smooth;

}

/*
    Body definitions
    - Does not change below
    - Open typography.css file to change the values
*/
body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--color-on-bg);
}

/* global resets */

* {
    transition: all 0.3s;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: currentColor;
    transition: color 0.3s;
}

a:hover {
    color: var(--color-secondary);
}

/* Route transitions */
.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-active {
    opacity: 0;
}


/* ********** */
/* Components */
/* ********** */

/* ********** */
/* Atoms components */
/* ********** */

/* a-title component */
.a-title {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title);
}

.a-title--level-1 {
    font-size: var(--title-level-1);
}

/* a-header__title component */
.a-header__title {
    text-align: center;
}

/* a-input component */
.a-input {
    font-size: var(--font-size, 1rem);
    color: var(--color-on-surface-medium);
    border: 1px solid var(--color-on-surface-medium);
    border-radius: 0.3125rem;
    padding: 1rem;
    background-color: transparent;
    transition: all 0.3s;
}

.a-input::placeholder {
    color: var(--color-on-surface-medium);
}

.a-input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.a-input:focus {
    border: 1px solid var(--color-secondary);
}

.a-input--error {
    border: 1px solid var(--color-error);
}

@keyframes autofill {
    to {
        color: var(--color-on-surface-medium);
        background: transparent;
    }
}

/* a-search__input component */
.a-search__input {
    border-radius: 0.3125rem 0 0 0.3125rem;
    border-right: none;
    height: 3.5rem;
}

.a-search__input:focus {
    border-right: none;
}

/* a-text component */
.a-text {
    font-size: var(--text);
    line-height: 1.4;
    color: var(--color-on-surface-medium);
    word-break: break-word;
}

.a-text--large {
    font-size: var(--text-large);
}

.a-text--caption {
    font-size: var(--caption);
}

/* a-footer__text component */
.a-footer__text {
    font-size: var(--caption);
    color: var(--color-on-primary-medium);
}
